<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Página Principal</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
    
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet" type="text/css">
  </head>
  
  <body class="d-flex h-100 text-center text-white bg-dark">
      
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <h3 class="float-md-start mb-0">RockolaWeb.com</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="/admin">Administrar Canciones</a> <!--LINK DE ADMIN-->
        </nav>
      </header>

      <main class="px-3">
        <hr>
        <h1>¡Bienvenido a nuestra Rockola Virtual!</h1>
        <hr>

        <p class="lead">Por ahora tenemos pocas canciones, pero de seguro no te decepcionarán... <br><br>
          Puedes ver el listado completo de nuestras canciones presionando en: "Ver Listado Completo"... <br><br>
          También puedes intentar ver si alguna de tus canciones favoritas esta en nuestro
          listado de canciones presionando en: "Filtrar Búsqueda."</p>
        <hr>
        
        <a href="/resultados" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Ver Listado Completo</a> <!--LINK DE RESULTADOS-->
        <a href="/filtro" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Filtrar Búsqueda</a> <!--LINK DE FILTRO-->
        <hr>

      </main>
    </div>
  </body>
</html>
