<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Canciones Encontradas</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
  </head>
  
  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <nav class="nav nav-masthead justify-content-center float-md-start">
          <a class="nav-link active" aria-current="page" href="/">Volver a la Página Principal</a> <!-- LINK DE INICIO -->
        </nav>
        
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="/filtro">Filtrar Búsqueda</a> <!-- LINK DE FILTRO -->
        </nav>
      </header>

      <main class="px-3">
        <hr>
        <h1>Resultados Encontrados ({{resultados}})</h1> <!-- Cantidad de resultados -->

        <hr><br>
        {% if resultados == 0 %}
          <p class="lead">Lo sentimos, esta canción aún no se encuentra en nuestra base de datos...
            Es probable que pueda deberse a un problema de derechos de autor.<br><br></p>
        {% else %}
          {% for row in consulta %}
            <a href="/reproductor/{{row[1]}}/{{row[2]}}/{{row[3]}}/{{row[4]}}/{{row[5].replace('/','')}}" class="btn btn-lg btn-secondary fw-bold border-white bg-white w-100">{{row[1]}} - {{row[2]}} ({{row[3]}} - {{row[4]}})</a><br><br>
          {% endfor %}
        {% endif %}
        <hr>
      </main>
  </body>
</html>